{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% wagtail_site as current_site %}

{% block ldjson %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "PodcastEpisode",

        "url": "{{ page.full_url }}",
        "name": "{{ page.title }}",

        {% if page.go_live_at %}
        "datePublished": "{{ page.go_live_at|date:"Y-m-d" }}",
        {% else %}
        "datePublished": "{{ page.first_published_at|date:"Y-m-d" }}",
        {% endif %}
        
        <!--"timeRequired": "PT37M",-->

        "description": "{{ page.specific.search_description|default:''|striptags }}"
        "associatedMedia": {
            "@type": "MediaObject",
            "contentUrl": "{{ page.specific.enclosure.url }}"
        },
        "partOfSeries": {
            "@type": "RadioSeries",
            "name": "{{ page.parent.title }}",
            "url": "{{ page.parent.full_url }}"
        }

        {% image page.specific.image fill-400x400-c100 as 1_1_photo %}
        {% image page.specific.image fill-720x540-c100 as 4_3_photo %}
        {% image page.specific.image width-720 as 16_9_photo %}
        "image": ["{{ 1_1_photo.url }}", "{{ 4_3_photo.url }}", "{{ 16_9_photo.url }}"],

        "author": {
            "@type": "Person",
            "name": "{{ page.owner.get_full_name }}"
        },

        "publisher": {
            "@type": "Person",
            {% if site_settings.logo %}
            {% with site_settings.logo as settings_logo %}
            {% image settings_logo height-60 as site_logo %}
            "name": "{{ current_site.site_name|default:'' }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site_logo.url }}"
            }
            {% endwith %}
            {% else %}
            {% with settings.podcastbird657.PodcastSettings.logo as settings_logo %}
            {% image settings_logo height-60 as site_logo %}
            "name": "{{ current_site.site_name|default:'' }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site_logo.url }}"
            }
            {% image settings_logo height-60 as site_logo %}
            {% endwith %}
            {% endif %}
        
        },
    
        {% if page.specific.tags.count > 1 %}
        "keywords": "{% for tag in page.specific.tags.all %}{% if forloop.last %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}",
        {% elif page.specific.tags.exists %}
        "keywords": "{% for tag in page.specific.tags.all %}{{ tag }}{% endfor %}",
        {% endif %}


    }
</script>
{% endblock ldjson %}


{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/podcastbird657/podcastbird.css' %}" >
{% endblock extra_head %}


{% block content %}
<div class="content" >

    {% if page.specific.show_breadcrumbs %}
    <div class="breadcrumbs">
        {% for ancestor in page.get_ancestors.public|slice:"2:" %}
        <a href="{% pageurl ancestor %}">{{ ancestor.title }}</a> /
        {% endfor %}
        {{ page.title }}
    </div>
    {% endif %}
    
    <h1 >{{ page.title }}</h1>

    <div class="meta" >
        {% if page.go_live_at %}
        <span >{{ page.go_live_at|date:"d M Y" }}</span>
        {% else %}
        <span >{{ page.first_published_at|date:"d M Y" }}</span>
        {% endif %}
        <span> / </span>
        <span class="author">{{ page.owner.get_full_name }}</span>
    </div>
    
    <div class="page_grid">
        <div class="page_image">
            {% if page.specific.image and page.specific.show_coverImage %}
            {% image page.specific.image width-400 as 400_photo %}
            {% image page.specific.image width-720 as 720_photo %}
            {% image page.specific.image width-900 as 900_photo %}
            <img srcset="{{ 400_photo.url }} 400w,
                        {{ 720_photo.url }} 720w,
                        {{ 900_photo.url }} 900w"
                sizes="(max-width: 400px) 400px,
                        (max-width: 720px) 720px,
                        (max-width: 900px) 900px,
                        400px"
                src="{{ 400_photo.url }}" alt="{{ 400_photo.alt }}" loading="lazy" />
            {% endif %}
        </div>
        
        <div class="page_audio">

            {% if page.specific.intro %}
            <div class="intro" >{{ page.specific.intro|richtext }}</div>
            {% endif %}

            <audio muted controls >
                <source src="{{ page.specific.enclosure.file.url }}" type="{{ page.specific.enclosure_mime_type }}">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>

    <div class="page_share">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.full_url }}" >
            <img src="{% static 'img/podcastbird657/share/f_logo_RGB-Black_58.png' %}" alt="Facebook “f” Logo Black" loading="lazy">
        </a>
        <a href="https://twitter.com/intent/tweet?url={{ page.full_url }}" >
            <img src="{% static 'img/podcastbird657/share/2021_Twitter_logo-black.png' %}" alt="Twitter logo Black" loading="lazy" style="padding: 3px 0 0 0;">
        </a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.full_url }}" >
            <img src="{% static 'img/podcastbird657/share/LI-In-Bug-Black.png' %}" alt="LinkedIn logo Black" loading="lazy" style="width: 26px;padding-top: 2px;">
        </a>
    </div>

    {{ page.specific.body }}
    
</div>
{% endblock %}